video {
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url("../images/splash_bg.jpg") no-repeat;
	background-size: cover;
}

h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 100px;
}

div.cta {
	bottom: 0px;
	position: fixed;
	background:rgba(255, 255, 255, 0.8);
	width: 100%;
	height: auto; min-height: 71px;
	text-align: center;
}

#logo {
	margin-left: 20px;
	margin-top: 20px;
}

.vcenter {
	margin-top: 20px;
	text-align: center;
}

input#mce-EMAIL {
	min-width: 400px;
}
